body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  margin-top: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 5px 5px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
}

.nav a:hover {
  text-decoration: underline;
}

.logo a {
  text-decoration: none;
  color: white;
}

.info {
  padding-left: 15px;
  padding-right: 15px;
}

.info a {
  font-size: 15px;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  color: black;
}

.info a:hover {
  text-decoration: underline;
}

.user-actions a {
  color: white;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 50px 20px;
  background-color: #f4f4f4;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 20px;
}

.cta-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.cta-button:hover {
  background-color: #0056b3;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#PageContent {
  flex: 1;
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  max-height: 40px;
}

.card-container {
  margin-top: 100px;
}

table th, table td {
  vertical-align: middle;
  text-align: center;
}

/* Product List */

.products {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.products h2 {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.product-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.product {
  background: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.product img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 8px;
}

.product h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.product p {
  font-size: 16px;
  color: #e74c3c;
  font-weight: bold;
  margin: 0;
}

.product-link:hover .product {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
